<div class="expenses">
	<h1 class="expenses-title big-title">Расходы</h1>
	<div class="card-wrapper">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Еда</h5>
				<a href="#" class="btn btn-primary">Редактировать</a>
				<a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Удалить</a>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Жильё</h5>
				<a href="#" class="btn btn-primary">Редактировать</a>
				<a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Удалить</a>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Здоровье</h5>
				<a href="#" class="btn btn-primary">Редактировать</a>
				<a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Удалить</a>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Кафе</h5>
				<a href="#" class="btn btn-primary">Редактировать</a>
				<a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Удалить</a>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Авто</h5>
				<a href="#" class="btn btn-primary">Редактировать</a>
				<a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Удалить</a>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Одежда</h5>
				<a href="#" class="btn btn-primary">Редактировать</a>
				<a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Удалить</a>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Развлечения</h5>
				<a href="#" class="btn btn-primary">Редактировать</a>
				<a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Удалить</a>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Счета</h5>
				<a href="#" class="btn btn-primary">Редактировать</a>
				<a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Удалить</a>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Спорт</h5>
				<a href="#" class="btn btn-primary">Редактировать</a>
				<a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Удалить</a>
			</div>
		</div>
		<div class="card card-plus">
			<a href="/expenses/create" class="card-plus-link">
				<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-plus card-plus-icon" viewBox="0 0 16 16">
					<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
				</svg>
			</a>
		</div>
	</div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-wrapper">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<p>Вы действительно хотите удалить категорию?</p>
				</div>
				<div class="modal-buttons">
					<button type="button" class="btn btn-success mr12" data-bs-dismiss="modal">Да, удалить</button>
					<button type="button" class="btn btn-danger">Не удалять</button>
				</div>
			</div>
		</div>
	</div>
</div>